<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{carro.cadastrar.label}"></span>
					</li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" th:href="@{/carros/listar}" role="button"> <span class="oi oi-spreadsheet"
					title="Cadastro" aria-hidden="true"></span> <span th:text="#{carro.listar.label}"></span>
			</a>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form th:action="${carro.id == null} ? @{/carros/salvar} : @{/carros/editar}" th:object="${carro}"
				method="POST" enctype="multipart/form-data">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{carro.modelo.label}" for="nome"></label>
						<input type="text" class="form-control" id="nome" placeholder="Modelo" autofocus="autofocus"
							th:field="*{modelo}" th:classappend="${#fields.hasErrors('modelo')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{modelo}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{carro.placa.label}" for="placa"></label>
						<input type="text" class="form-control" id="placa" placeholder="ABC1234" autofocus="autofocus"
							th:field="*{placa}" th:classappend="${#fields.hasErrors('placa')} ? is-invalid"
							data-charset="XXX_XXX" />

						<div class="invalid-feedback">
							<span th:errors="*{placa}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{carro.chassi.label}" for="chassi"></label>
						<input type="text" class="form-control" id="chassi" placeholder="Chassi" autofocus="autofocus"
							th:field="*{chassi}" th:classappend="${#fields.hasErrors('chassi')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{chassi}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{carro.descricao.label}" for="descricao"></label>
						<input type="text" class="form-control" id="descricao" placeholder="Descrição"
							autofocus="autofocus" th:field="*{descricao}"
							th:classappend="${#fields.hasErrors('descricao')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{descricao}"></span>
						</div>
					</div>

					<!-- <div class="form-group col-md-6">
						<label th:text="#{carro.loja.label}" for="loja"></label> 
						<select id="loja" class="form-control" th:field="*{loja}"
							th:classappend="${#fields.hasErrors('loja')} ? is-invalid">
							<option value="">Selecione</option>
							<option th:each="loja : ${lojas}" th:value="${loja.id}"
								th:text="${loja.name}"></option>
						</select>

						<div class="invalid-feedback">
							<span th:errors="*{loja}"></span>
						</div>
					</div> -->

					<div class="form-group col-md-6">
						<label th:text="#{carro.ano.label}" for="ano"></label>
						<input type="number" class="form-control" id="Ano" placeholder="Ano" autofocus="autofocus"
							th:field="*{ano}" th:classappend="${#fields.hasErrors('ano')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{ano}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{carro.quilometragem.label}" for="quilometragem"></label>
						<input type="text" class="form-control" id="quilometragem" placeholder="Quilometragem"
							data-mask="000000,00" data-mask-reverse="true" th:field="*{quilometragem}"
							th:classappend="${#fields.hasErrors('quilometragem')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{quilometragem}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{carro.valor.label}" for="valor"></label>
						<input type="text" class="form-control" id="valor" placeholder="Preço" data-mask="000000,00"
							data-mask-reverse="true" th:field="*{valor}"
							th:classappend="${#fields.hasErrors('valor')} ? is-invalid" />
						<div class="invalid-feedback">
							<span th:errors="*{valor}"></span>
						</div>
					</div>
					<div class="photos">

						<label>Fotos: </label>
						<input type="file" name="image" accept="image/png, image/jpeg" />
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}" class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>

</html>